<header class="mb-8">
  <h1 class="text-4xl font-semibold">Welcome back, {{ user?.username }}!</h1>
</header>

<div class="flex flex-col @container @xl:flex-row mx-auto w-full gap-4">
  <div class="stats shadow bg-base-200 flex-[2]">
    <div class="stat @lg:px-16">
      <div class="stat-figure text-secondary">
        <lucide-angular name="users" class="inline-block w-8 h-8" />
      </div>
      <div class="stat-title">Users</div>
      <div class="stat-value">{{ stats?.users ?? 0 }}</div>
    </div>

    <div class="stat @lg:px-16">
      <div class="stat-figure text-secondary">
        <lucide-angular name="user-cog" class="inline-block w-8 h-8" />
      </div>
      <div class="stat-title">Roles</div>
      <div class="stat-value">{{ stats?.roles ?? 0 }}</div>
    </div>
  </div>

  <div class="stats shadow bg-base-200 flex-[3]">
    <div class="stat @3xl:px-16 @lg:px-8">
      <div class="stat-figure text-secondary">
        <lucide-angular name="gamepad" class="inline-block w-8 h-8" />
      </div>
      <div class="stat-title">Games</div>
      <div class="stat-value">{{ stats?.games ?? 0 }}</div>
    </div>

    <div class="stat @3xl:px-16 @lg:px-8">
      <div class="stat-figure text-secondary">
        <lucide-angular name="user-square-2" class="inline-block w-8 h-8" />
      </div>
      <div class="stat-title">Creators</div>
      <div class="stat-value">{{ stats?.creators ?? 0 }}</div>
    </div>

    <div class="stat @3xl:px-16 @lg:px-8">
      <div class="stat-figure text-secondary">
        <lucide-angular name="tags" class="inline-block w-8 h-8" />
      </div>
      <div class="stat-title">Tags</div>
      <div class="stat-value">{{ stats?.tags ?? 0 }}</div>
    </div>
  </div>
</div>
