<dialog class="modal" #popup (close)="onClose($event)">
  <form method="dialog" class="modal-box">
    <h3 class="font-bold text-lg">{{ data.title }}</h3>
    <p class="py-4">{{ data.message }}</p>

    <div class="modal-action">
      <ng-container *ngFor="let action of data.actions">
        <button
          type="button"
          class="btn"
          [ngClass]="action.style"
          (click)="onAction($event, action.resultID)"
        >
          {{ action.label }}
        </button>
      </ng-container>
    </div>
  </form>
  <form method="dialog" class="modal-backdrop" (reset)="onClose($event)">
    <button type="reset">close</button>
  </form>
</dialog>
