<header class="container mx-auto my-4 flex justify-between">
  <!-- Back button -->
  <div class="tooltip tooltip-right" data-tip="Go to homepage">
    <a routerLink="/" class="btn btn-ghost btn-circle">
      <lucide-angular name="arrow-left" aria-hidden="true"></lucide-angular>
      <span class="sr-only">Go to homepage</span>
    </a>
  </div>

  <!-- Theme button -->
  <app-theme-btn />
</header>

<main class="flex-1 flex flex-col items-center justify-center">
  <div class="container mx-auto p-4 max-w-md">
    <div class="flex flex-col">
      <h1 class="text-4xl font-bold mb-4">Login</h1>

      <div *ngIf="errors.length" class="alert alert-error" role="alert">
        <lucide-angular
          name="x-circle"
          aria-hidden="true"
          class="stroke-current shrink-0 h-6 w-6"
        ></lucide-angular>
        <div *ngFor="let error of errors">
          <span>{{ error }}</span>
        </div>
      </div>

      <form
        class="flex flex-col w-full items-center gap-y-4"
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="form-control w-full">
          <label for="email" class="label">Email</label>

          <input
            type="email"
            id="email"
            class="input input-primary input-bordered"
            formControlName="email"
            autocomplete="email"
            placeholder="Email"
            [ngClass]="{ invalid: formControls.email.hasError }"
          />
        </div>

        <div class="form-control w-full">
          <label for="password" class="label">Password</label>

          <input
            type="password"
            id="password"
            class="input input-primary input-bordered"
            formControlName="password"
            autocomplete="current-password"
            placeholder="Password"
            [ngClass]="{ invalid: formControls.password.hasError }"
          />
        </div>

        <div class="form-control">
          <label for="remember" class="label cursor-pointer gap-4">
            <span class="label-text">Remember me</span>
            <input
              type="checkbox"
              id="remember"
              checked="checked"
              class="checkbox checkbox-primary"
              formControlName="remember"
            />
          </label>
        </div>

        <div class="mt-2 form-control w-full items-center">
          <button
            type="submit"
            class="btn btn-accent w-full md:w-3/4"
            [disabled]="loginForm.invalid"
          >
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</main>

<footer></footer>
