<div class="flex flex-col">
  <header class="container mx-auto my-4 flex justify-between">
    <!-- Back button -->
    <div class="tooltip tooltip-right" data-tip="Go to homepage">
      <a routerLink="/" class="btn btn-ghost btn-circle">
        <lucide-angular name="arrow-left" aria-hidden="true"></lucide-angular>
        <span class="sr-only">Go to homepage</span>
      </a>
    </div>

    <!-- Theme button -->
    <app-theme-btn />
  </header>

  <main>
    <div class="">

    </div>
  </main>

  <footer></footer>
</div>