<div class="border-b border-base-300 sticky top-0 z-50">
  <div class="navbar container mx-auto py-3">
    <div class="navbar-start md:hidden">
      <div class="dropdown">
        <span role="menu" tabindex="0" class="btn btn-ghost btn-circle">
          <lucide-angular name="menu"></lucide-angular>
        </span>
        <ul role="menu" tabindex="0" class="menu menu-md dropdown-content mt-3 p-2 shadow rounded-box w-52">

          <li role="menuitem" *ngFor="let item of navItems">
            <a [routerLink]="item.path" routerLinkActive="text-primary"
              [routerLinkActiveOptions]="{ exact: item.exact ?? false }">
              {{ item.label }}
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class='navbar-center md:navbar-start'>
      <a class="btn btn-ghost normal-case text-xl" routerLink="/">
        {{ appName }}
      </a>
      <ng-container *ngFor="let item of navItems" class="hidden sm:block">
        <a *ngIf="!item.mobileOnly" [routerLink]="item.path" class='btn btn-ghost hidden md:inline-flex'
          routerLinkActive="text-primary" [routerLinkActiveOptions]="{ exact: item.exact ?? false }">
          {{ item.label }}
        </a>
      </ng-container>
    </div>

    <div class="navbar-end md:mr-2">
      <app-nav-theme-btn />
    </div>
  </div>
</div>